.Tagline{
    height: 16vh;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 0 10px black;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: aqua;
  
}
