.CarouselItem{
    width: 12rem;
    height: 16rem;
    border-radius: 16px;
    background-color: white;
    display: inline-block;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 4px 8px;
    padding:  10px;          
    position: relative;
    transition: transform 0.3s linear;                                                                                                                                                                                                                                                                                                                        
}



.CarouselItem img{
    width: 10rem;
    border-radius: 5px;
    height: 7.5rem;
    box-sizing: border-box;
    display: block;
    margin: auto;
    object-fit: cover;
    aspect-ratio: 4/3;
}
.CarouselItem h2{
    margin-top: 2rem;
}
.CarouselItem p{
    display: flex;
    font-family: "Roboto";
    text-align: center;
    color: rgb(110, 110, 110);
}

.CarouselItem:hover{
    transform: scale(1.05);
}