.CarouselItem{
    width: 48%;
    height: 80%;
    border-radius: 16px;
    background-color: white;
    margin: auto auto;
    display: inline-block;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 0 8px;     
    padding: 16px;                                                                                                                                                                                                                                                                                                                                                                    
}

.CarouselItem img{
    width: 90%;
    border-radius: 5px;
    height: 50%;
    box-sizing: border-box;
    display: block;
    margin: auto;
    object-fit: cover;
}
.CarouselItem h2{
    margin-top: 2rem;
}
.CarouselItem p{
    display: flex;
    font-family: "Roboto";
    text-align: center;
    color: rgb(110, 110, 110);
}