
.Carousel{
    width: 100vw;
    position: relative;
    height: 42vh;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    /* box-shadow: 0 20px 50px rgba(255, 255, 255, 0.109); */
    padding: 0 10px;
    box-sizing: border-box;
}

.Vertical{
    flex-direction: column;
    padding: 10px 0;
}

.Horizontal{
    flex-direction: row;
    padding: 0 10px;
}



